.App {
  text-align: center;
}

.App-logo {
  float: left;
  background-color: white;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 50px 25px 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

.ig{
  height: 10%;
  width: 10%;
  padding-bottom: 30px;
}